@import url(bootstrap-elements/bootstrap-toggle.min.css);
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1.5px solid transparent;
  border-radius: 0;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1em;
  min-height: 1.5em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.25;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #121212;
  user-select: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-color: #dbdbdb;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: Montserrat, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif; }

.button:hover {
  border-color: #424242;
  color: #424242;
  background-color: #f0f0f0;
  text-decoration: none; }

.button:focus {
  border-color: #263238;
  color: #424242;
  text-decoration: none; }

.button:active {
  border-color: #424242;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #424242;
  text-decoration: none; }

.button-link {
  background-color: transparent;
  border-color: transparent;
  color: #424242;
  text-decoration: underline; }

.button-link:active,
.button-link:focus,
.button-link:hover {
  border-color: transparent;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #424242; }

.button-black {
  background-color: #090909;
  border-color: transparent;
  color: #fff; }
  .button-black:hover {
    background-color: #121212;
    border-color: transparent;
    color: #f0f0f0; }

.button-white {
  background-color: #fff;
  border-color: transparent;
  color: #090909; }
  .button-white:hover {
    background-color: #bdbdbd;
    border-color: transparent;
    color: #090909; }

.button-grey {
  background-color: #424242;
  border-color: transparent;
  color: #f0f0f0; }
  .button-grey:hover {
    background-color: #b0bec5;
    border-color: transparent;
    color: #090909; }

.button-red {
  background-color: #f44336;
  border-color: transparent;
  color: #fff; }
  .button-red:hover {
    background-color: #b71c1c;
    border-color: transparent;
    color: #fff; }

.button-cyan {
  background-color: #00bcd4;
  border-color: transparent;
  color: #fff; }
  .button-cyan:hover {
    background-color: #00838f;
    border-color: transparent;
    color: #fff; }

.button-blue {
  background-color: #2196f3;
  border-color: transparent;
  color: #fff; }
  .button-blue:hover {
    background-color: #01579b;
    border-color: transparent;
    color: #fff; }

.button-green {
  background-color: #4caf50;
  border-color: transparent;
  color: #fff; }
  .button-green:hover {
    background-color: #1b5e20;
    border-color: transparent;
    color: #fff; }

.button-pink {
  background-color: #e91e63;
  border-color: transparent;
  color: #fff; }
  .button-pink:hover {
    background-color: #880e4f;
    border-color: transparent;
    color: #fff; }

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  align-self: auto; }

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none; }

.card-img-top {
  display: block;
  width: 100%;
  height: auto; }

.card-title {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.25em; }

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68); }

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff; }

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, 0.05); }

.profile {
  position: absolute;
  top: -12px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%; }

.profile-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%; }

.profile-inline {
  position: relative;
  top: 0;
  display: inline-block; }

.profile-inline ~ .card-title {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top; }

.text-bold {
  font-weight: 700; }

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4); }

.meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4); }

.meta a:hover {
  color: rgba(0, 0, 0, 0.87); }

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:after,
*:before {
  box-sizing: inherit; }

audio,
embed,
img,
object,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  background-color: #fff;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: Raleway, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
  font-weight: normal; }

code, pre,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: Ubuntu, monospace; }

body {
  color: #424242;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 100%; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.3rem; }

p {
  text-align: justify;
  text-indent: 2em; }

a {
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out; }

a:hover {
  color: #01579b; }

code, pre {
  background-color: #f0f0f0;
  color: #f44336;
  font-size: 0.9215em;
  font-weight: normal;
  padding: 0.25em 0.5em; }

pre {
  color: #263238;
  background-color: inherit; }

hr {
  background-color: #607d8b;
  border: none;
  display: block;
  height: 1px;
  margin: 1rem 0; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  box-sizing: border-box; }

small {
  font-size: 0.7em;
  font-weight: lighter; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  font-weight: bold; }

pre code, pre pre {
  -webkit-overflow-scrolling: touch;
  background: none;
  color: inherit;
  display: block;
  font-size: 1em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem; }

table {
  width: 100%; }

table td,
table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: #121212; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  background-color: #f0f0f0;
  padding: 1.25em 1.5em;
  border-left: 5px solid #263238;
  margin-bottom: 1em; }

.warning {
  background-color: #f0f0f0;
  border-radius: 0;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative; }

.warning-blue {
  background-color: #81d4fa;
  border-color: transparent;
  color: #263238; }

.warning-orange {
  background-color: #ffcc80;
  border-color: transparent;
  color: #263238; }

.sticker {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 2em;
  color: #bdbdbd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.875em;
  padding-right: 0.875em;
  white-space: nowrap; }

.sticker-black {
  background-color: #090909;
  border-color: transparent;
  color: #fff; }

.sticker-white {
  background-color: #fff;
  border-color: transparent;
  color: #090909; }

.sticker-grey {
  background-color: #424242;
  border-color: transparent;
  color: #f0f0f0; }

.sticker-red {
  background-color: #f44336;
  border-color: transparent;
  color: #fff; }

.sticker-cyan {
  background-color: #00bcd4;
  border-color: transparent;
  color: #fff; }

.sticker-blue {
  background-color: #2196f3;
  border-color: transparent;
  color: #fff; }

.sticker-green {
  background-color: #4caf50;
  border-color: transparent;
  color: #fff; }

.sticker-pink {
  background-color: #e91e63;
  border-color: transparent;
  color: #fff; }

.box {
  background-color: #f0f0f0;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent; }

.box:not(:last-child) {
  margin-bottom: 1.5rem; }

.segment {
  padding: 0.5em 1em;
  margin-bottom: 20px;
  list-style: none;
  background-color: none;
  border-radius: 0; }

.segment > li {
  display: inline-block; }

.segment > li + li:before {
  padding: 0 5px;
  color: #121212;
  content: "/"; }

.segment > .active {
  color: #607d8b; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/UbuntuMono/Ubuntu Mono derivative Powerline.ttf");
  font-weight: normal; }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.otf");
  font-weight: normal; }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Light.otf");
  font-weight: lighter; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Light.ttf");
  font-weight: lighter; }

/*# sourceMappingURL=beautify.css.map */
