blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:after,
*:before {
  box-sizing: inherit;
}

audio,
embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: $color-white;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: Raleway, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
  font-weight: normal;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: Ubuntu, monospace;
}

body {
  color: $color-grey;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, BlinkMacSystemFont, -apple-system, "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

p {
  text-align: justify;
  text-indent: 2em;
}

a {
  color: $color-blue;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

a:hover {
  color: $color-dark-blue;
}

code {
  background-color: $color-light-grey;
  color: $color-red;
  font-size: 0.9215em;
  font-weight: normal;
  padding: 0.25em 0.5em;
}

pre {
  @extend code;
  color: $color-dark-blue-grey;
  background-color: inherit;
}

hr {
  background-color: $color-blue-grey;
  border: none;
  display: block;
  height: 1px;
  margin: 1rem 0;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  box-sizing: border-box;
}

small {
  font-size: 0.7em;
  font-weight: lighter;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: bold;
}

pre code {
  -webkit-overflow-scrolling: touch;
  background: none;
  color: inherit;
  display: block;
  font-size: 1em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
}

table {
  width: 100%;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

table th {
  color: $color-dark-grey;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  background-color: $color-light-grey;
  padding: 1.25em 1.5em;
  border-left: 5px solid $color-dark-blue-grey;
  margin-bottom: 1em;
}
