@import "mixins.scss";
@import "colors.scss";

.warning {
  background-color: $color-light-grey;
  border-radius: 0;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

.warning-blue{
  @include color-bg($color-light-blue, $color-dark-blue-grey);
}

.warning-orange{
  @include color-bg($color-light-orange, $color-dark-blue-grey);
}
